$bg-color: rgb(218, 167, 167);

body {
    // background: $bg-color;
    background: white;
    margin: 0;
}

.two-columns {
    display: flex;
}

.main_siderbar {
    flex: 1;
}

.main__content {
    display: flex;
    flex: 1 1 55%;
    
}

.products__container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.product__item {
    flex: 1 1 33.3%;
    height: 500px;
}

.product_image {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}